body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
}

/* Home Page */
.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header-img.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 58%;
    height: 350px;
    padding-top: 18%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    justify-content: center;
}

h1, h2, h4, h5 {
    font-weight: 700;
}

h2 {
    letter-spacing: 1px;
}

.jumbotron h1 {
    font-weight: 700;
}

.jumbotron p { 
    margin-bottom: 4px;
}

.header-contact {
    display: none;
    font-style: italic;
}

.jumbotron .btn-custom {
    color: #fff;
    background-color: #5BBCC6;
}

.btn-custom {
    color: #fff;
    background-color: #5BBCC6;
}

a {
    color: #5BBCC6;;
}

hr {
    margin: 15px 17% 10px;
}

#btnServices {
    background-color: whitesmoke;
    margin-bottom: 12px;
}

#btnServices:hover {
    background-color: #5BBCC6;
    color: white;
}

.light-heading {
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.custom-heading {
    margin-bottom: 0;
    letter-spacing: 3px;
    color: #5BBCC6;
    padding-left: 10px;
    padding-right: 10px;
}

.card-img-top {
    width: 50%;
}

#testimonial-container {
    padding-top: 4%;
    padding-bottom: 2%;
}

#testimonial {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    text-align: left;
    box-shadow: none !important;
}

#testimonial img {
    max-width: 100%;
    height: 70px;
    width: 70px;
    border-radius: 10%;
    margin-bottom: 10px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

#testimonial blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 35px 65px 35px;
    font-size: 14px;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 9px 10px 9px 0px rgba(0, 0, 0, 0.15);
}

#testimonial .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

#testimonial .author h5 {
    opacity: 0.8;
}

#testimonial .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
}

div a.fa {
    padding: 11px;
    margin-left: 3px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
} 

.fa-instagram {
    background: #125688;
    color: white;
}

/* About Page/Section */
.title-about {
    padding: 2%;
    justify-content: center;
}

.about-text {
    text-align: center;
    justify-content: center;
    padding: 1% 5%;
}

.about-section {
    padding-top: 5%;
    padding-bottom: 1%;
}

.about-img {
    justify-content: center;
}

#about-img {
    max-width: 280px;
    height: auto;
}

/* Services Page */
.service-ul {
    list-style: none;
}
  
.service-ul li:before {
    content: '✓  ';
}

.serv-img-top{
    
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.service-img {
    width: auto;
    max-height: 160px;
}

.service-img-drain {
    width: auto;
    max-height: 170px;
}

.service-img-row {
    text-align: right;
}

.service-img-row-drain {
    text-align: right;
}

.service-img-row-hire {
    text-align: right;
}

/* Links margin buffer for sticky nav offset */
section[id]:before {
    display: block;
    height: 95px;   /* equal to the header height */
    margin-top: -95px;  /* negative margin equal to the header height */
    visibility: hidden;
    content: "";
}

/* Contact page */
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

@media (min-width: 454px){
    
    section[id]:before {
        display: block;
        height: 130px;   /* equal to the header height */
        margin-top: -130px;  /* negative margin equal to the header height */
        visibility: hidden;
        content: "";
    }
}

@media (min-width: 576px){
    
    .jumbotron .header-contact {
        display: block;
    }

    .jumbotron {
        background-position: top center;
    }

    h2 {
        letter-spacing: 1.6px;
    }

    .service-img {
        max-height: 205px;
    }

    .service-img-row-drain {
        padding-left: 80px;
    }

    .service-img-row-hire {
        padding-left: 100px;
    }

    .card-img-top {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .jumbotron {
        padding-top: 12%;
    }
}

@media (min-width:768px) {
    
    .about-img {
        float: left;
        justify-content: none;
        margin-bottom: 30px;
    }

    p {
        margin-top: 15px;
    }

    .about-text{
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }

    .service-img {
        max-height: 270px;
    }

    .service-img-row {
        padding-left: 170px;
        text-align: left;
    }

    .service-img-row-drain {
        padding-left: 110px;
    }

    .service-img-row-hire {
        padding-left: 100px;
    }

    .service-img-drain {
        max-height: 270px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        padding-top: 8%;
    }
    .jumbotron p { 
        margin-bottom: 5px;
    }
    #about-section {
        padding-top: 3%;
    }
    .about-img{
        padding-left: 140px;
    }

    .service-img {
        max-height: 350px;
    }

    .service-img-row {
        padding-left: 220px;
    }
    .service-img-row-drain {
        padding-right: 100px;
        padding-left: 180px;
    }

    .service-img-drain {
        max-height: 350px;
    }
}

@media (min-width: 1200px) {
    
    .jumbotron {
        height: 400px;
    }

    .jumbotron {
        padding-top: 13%;
        padding-bottom: 20%;
    }

    .service-img-row {
        padding-left: 280px;
        padding-right: 200px;
    }

    .service-img-row-drain {
        padding-right: 180px;
        padding-left: 180px;
    }

    .service-img-row-hire {
        padding-left: 250px;
        padding-right: 100px;
    }

    .service-img {
        max-width: none;
        max-height: 347px;
    }
}

@media (min-width: 1500px) {
    .jumbotron .container {
        padding-top: 4%;
    }
}

@media (min-width: 1800px) {
    .jumbotron h1 {
        font-size: 4rem;
    }
    .jumbotron p {
        font-size: 1.6rem;
    }
    .jumbotron .btn {
        font-size: 1.5rem;
    }
    body {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    .card-body {
        padding: 0px;
    }
}

@media (max-width: 767.98px) {
    .jumbotron h1 {
        font-size: 2.5rem;
    }
    .jumbotron p {
        font-size: 1rem;
    }
}